In [25]:
#create a dataframe from all universal beauty scores

import pandas as pd
txt1 = pd.read_csv('scores/train.txt', sep=" ",  header = None)
txt2 = pd.read_csv('scores/test.txt', sep=" ",  header = None)
txt3 = pd.read_csv('scores/val.txt', sep=" ", header = None)
data = pd.concat([txt1,txt2,txt3])
data.columns = ['image', 'score']
data.image  = data.image.str.replace('/home/ubuntu/crop/','images/')
data

                                                 image     score
0      images/male/black/pexels-ono-kosuki-5648108.jpg  2.875000
1          images/male/hispanic/beard-5216825_1920.jpg  6.650000
2    images/male/asian/mathieu-neuilly-BTBAoU_taRU-...  4.666667
3    images/male/asian/bibek-thakuri-J_9xThkkGEM-un...  5.638158
4       images/female/hispanic/pretty-2682798_1920.jpg  7.068966
..                                                 ...       ...
245       images/male/caucasian/joker-5485787_1920.jpg  4.000000
246                       images/female/hispanic/2.jpg  6.117188
247              images/male/asian/man-537136_1920.jpg  4.958333
248          images/male/asian/old-man-971889_1920.jpg  4.333333
249      images/female/midestern/girl-2651718_1920.jpg  7.928571

[2514 rows x 2 columns]

In [26]:
#remove rows where the image doesn't exist

import os

data1 = data

data1.image.str.replace('images/','/home/ubuntu/ME-beautydatabase/images/')

data1 = data1[[os.path.isfile(i) for i in data1['image']]]

data1

                                                 image     score
0      images/male/black/pexels-ono-kosuki-5648108.jpg  2.875000
1          images/male/hispanic/beard-5216825_1920.jpg  6.650000
2    images/male/asian/mathieu-neuilly-BTBAoU_taRU-...  4.666667
3    images/male/asian/bibek-thakuri-J_9xThkkGEM-un...  5.638158
4       images/female/hispanic/pretty-2682798_1920.jpg  7.068966
..                                                 ...       ...
241   images/male/asian/pexels-joen-nguyen-2599510.jpg  7.444444
245       images/male/caucasian/joker-5485787_1920.jpg  4.000000
246                       images/female/hispanic/2.jpg  6.117188
247              images/male/asian/man-537136_1920.jpg  4.958333
248          images/male/asian/old-man-971889_1920.jpg  4.333333

[2198 rows x 2 columns]

In [28]:
# split into train and test part

from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split

data1 = shuffle(data1)
train, test = train_test_split(data1, test_size=0.3)

train.to_csv('./scores/train_universal_scores.csv', index = False)
test.to_csv('./scores/test_universal_scores.csv', index = False)

In [ ]:
# create folder with files for personalized FBP

import os
import pandas as pd
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split


def create_separate_csv(file = 'scores/date_scores_all.xlsx'):
    
    if not os.path.exists('scores/train_test_personal_scores'):
        os.makedirs('scores/train_test_personal_scores')
   
    df = pd.read_excel(file)
    images = df['path']
    df = df.drop(['path'], axis=1)
    
    for column in df.columns:
          
        scores = df[column]    
        result = pd.concat([images, scores], axis=1)
        result = shuffle(result.dropna())
        
        #result.path.str.replace('/home/ubuntu/ME-beautydatabase/images/', 'images/')
        #result = result[[os.path.isfile(i) for i in result['image']]]

        
        train, test = train_test_split(result, test_size=0.3)
        
        train_name  = 'scores/train_test_personal_scores/train_'+ column.replace('.xlsx','')
        test_name = 'scores/train_test_personal_scores/test_'+ column.replace('.xlsx','')
        train.to_csv(train_name + '.csv')
        test.to_csv(test_name + '.csv')
        
        
create_separate_csv()