In [74]:
import pandas as pd
data = pd.read_excel('pers.xlsx')
data = data.rename(columns={'image':'maleimage'})

#data['average'] = data[data.filter(regex='male').columns].mean(numeric_only=True, axis=1)
data['average'] = data.mean(numeric_only=True, axis=1)

In [75]:
#clean raters who are super diffenent from others

pr = data.corr()['average'][abs(data.corr()['average'])<0.10]
pr

labelcaucasian_female_28.xlsx   -0.016368
A12USPXK8LAYOW                  -0.061803
A170TBY1BTB2WN                  -0.056194
A1AYW18064EWED                   0.098164
A1BW76PDMXR58I                   0.014755
A1EGJBJBFBZJBA                   0.096802
A1KEA2Z47S3UPI                   0.003421
A1UIY4FLBTQ2SC                   0.056913
A1WMV8ABNV13WN                   0.041174
A234FCWEC692VY                   0.001235
A23LCFQV9MZ5FM                   0.029054
A2P6PUVBLASNHE                  -0.051739
A2RVSBEHUCNC6K                  -0.019303
A2SLEMDA17XTZ1                   0.052189
A2TYKW8W80069B                  -0.073649
A2WZNLI23LGXBC                  -0.006172
A30F0PU2C1SRQW                   0.070619
A30RO5CT9V6Y2N                  -0.008426
A31Y7PAMZO5GVZ                   0.091373
A374EWO5GNKL25                   0.063824
A39BR7NYRDWC01                  -0.074882
A3CE1ODWO0BSPX                   0.095797
A3L1OIVE57IMT2                   0.033011
A3MSA96XGXNWC1                  -0.011837
A3NXCYECW4LN2O                   0.094048
A3SSR32EZYJ8QD                   0.091681
A3UHH141AXSYFI                  -0.023156
A3VAS7BWJMQG7P                   0.061633
A9EABUBJ7QWS5                    0.067740
ABVM2KJ7CRNZ0                    0.059289
ACANMPNHBVH8Y                   -0.046927
AEH5T100YN1L7                   -0.054338
ANHH3N0535YSN                   -0.019342
AQ30BV0EZ50U6                    0.084731
AQY5VZ83IZ24                     0.086552
ARPBDM5QZ4XQC                   -0.068286
AUKAQ17894HDP                   -0.034968
AX7QB1F1M1IDO                   -0.079543
AY7RI824FORAE                    0.042153
AZGIZH37JII0Y                    0.047473
Name: average, dtype: float64

In [77]:
pr = pr.index.tolist()

In [78]:
set(all1) & set(pr)

{'A12USPXK8LAYOW',
 'A170TBY1BTB2WN',
 'A1AYW18064EWED',
 'A1BW76PDMXR58I',
 'A1UIY4FLBTQ2SC',
 'A1WMV8ABNV13WN',
 'A2RVSBEHUCNC6K',
 'A2TYKW8W80069B',
 'A2WZNLI23LGXBC',
 'A30F0PU2C1SRQW',
 'A31Y7PAMZO5GVZ',
 'A3L1OIVE57IMT2',
 'A3UHH141AXSYFI',
 'ARPBDM5QZ4XQC',
 'AUKAQ17894HDP'}

In [81]:
data1 = data.drop(list(set(all1) & set(pr)),axis=1)
data

,Unnamed: 0,maleimage,labelcaucasian_female_29.xlsx,labelcaucasian_female_27.xlsx,labelcaucasian_female_31.xlsx,labelasian_female_22.xlsx,labelcaucasian_female_32.xlsx,labelblack_female_22.xlsx,labelasian_female_25.xlsx,labelcaucasian_female_34.xlsx,...,AW8C7BLRB8CZG,AX7QB1F1M1IDO,AXMQBHHU22TSP,AY0758IITCGOZ,AY7RI824FORAE,AY9TXXA0DTKUS,AZ8KL6F16ZS7G,AZD9Z5B2U40G2,AZGIZH37JII0Y,average
0,0,/home/ubuntu/ME-beautydatabase/images/female/c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.770000
1,5,/home/ubuntu/ME-beautydatabase/images/male/ind...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.296196
2,6,/home/ubuntu/ME-beautydatabase/images/male/mid...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.083333
3,7,/home/ubuntu/ME-beautydatabase/images/male/cau...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.716049
4,8,/home/ubuntu/ME-beautydatabase/images/female/i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.190476
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2619,2670,/home/ubuntu/ME-beautydatabase/images/female/c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,273.544444
2620,2671,/home/ubuntu/ME-beautydatabase/images/female/a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,341.263889
2621,2672,/home/ubuntu/ME-beautydatabase/images/female/h...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,NaN,NaN,NaN,8.0,9.0,NaN,NaN,NaN,249.676768
2622,2673,/home/ubuntu/ME-beautydatabase/images/female/c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,274.844444
2623,2674,/home/ubuntu/ME-beautydatabase/images/male/cau...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,337.930556

In [83]:
data1.to_excel('date_scores_all_2022.xlsx')

In [ ]:
for index, row in data.iterrows():
   
    if row.count()<8:
      print(row['path'])

In [ ]:
from sklearn.model_selection import train_test_split
df = data[['image','average']]
df = df.dropna()
df = df.sample(frac=1).reset_index(drop=True)
train, test = train_test_split(df,test_size = 0.3)
train.to_csv(r'scores\train_2022.txt', header=None, index=None, sep=' ', mode='a')
test, val = train_test_split(test, test_size  = 0.3)
test.to_csv(r'scores\test_2022.txt', header=None, index=None, sep=' ', mode='a')
val.to_csv(r'scores\val_2022.txt', header=None, index=None, sep=' ', mode='a')

In [ ]:
####generic scores after normalize data

In [68]:
# remove 1 that raters give to their gender

import pandas as pd

data = pd.read_excel('pers.xlsx')

#data = data.drop(['image','mean_gen'], axis=1)
#data['path'] =data['path'].str.replace(".jpg", ".csv")
#data['path'] =data['path'].str.replace(".png", ".csv")
#data = data[data['path'].notna()]
#data = data.rename(columns={"path": "image"})        

data_clean = data
#print(data_clean)
for column in data:
    
    if column != "image":
       
       #print(column)
       df = data[['image',column]]
       df = df.dropna() 
       df_male = df[df['image'].str.contains("/male")]
       df_female = df[df['image'].str.contains("/female")]
       
       #print(len(df_male), len(df_female))
        
       if len(df_male) > 0: 
          pr1 = len(df_male.loc[df_male[column] == 1])/len(df_male)
       else:
          pr1=0
    
     
       if len(df_female) > 0: 
    
          pr2 = len(df_female.loc[df_female[column] == 1])/len(df_female)
       else:
          pr2=0
    
       #print(pr1, pr2) 
        
       if pr1 > 0.9:
          df= df_female
          data.loc[data['image'].str.contains("/male"),column] = float('nan')
          print(column,'remove males')
       if pr2 > 0.9:
          df = df_male
          data.loc[data['image'].str.contains("/female"),column] = float('nan')     
          print(column,'remove females')